"*":
  editor:
    tabLength: 2
    invisibles: {}
  core:
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  "exception-reporting":
    userId: "7b1466d4-e4a5-8230-e3f0-123ccc4af31f"
  welcome:
    showOnStartup: false
  linter: {}
  "atom-beautify":
    _analyticsUserId: "9e86070e-0a47-4d2b-8a0f-92e12df3b2e4"
  "merge-conflicts": {}
