"*":
  editor:
    tabLength: 2
    invisibles: {}
  core:
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  "exception-reporting":
    userId: "7b1466d4-e4a5-8230-e3f0-123ccc4af31f"
  welcome:
    showOnStartup: false
  linter: {}
